<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easily</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/jobs-css.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-container fredoka-font">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Easily</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobs">Jobs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if(isExist) {%>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
              <% } else{ %>
                <li><a class="dropdown-item" href="/login">Log In</a></li>
              <% } %>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/postJob">Post New Job</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success search-button" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


      <div class="container">
        <div class="row">
          <% jobs.forEach((job)=>{ %>
            <div class="col-md-4">
              <div class="card job-card" style="width: 18rem;">
                <div class="card-body">
                  <div class="actively-hiring">
                    <span>Actively Hiring</span>
                    <span><i class="fa-solid fa-chart-line fa-fade"></i></span>
                  </div>
                  <h5 class="card-title"><%= job.companyName %></h5>
                  <h6 class="card-subtitle mb-2">
                    <span class='job-category'><%= job.jobCategory %></span>
                    <span class="job-role"><%= job.jobRole %></span>
                  </h6>
                  <div class="card-content">
                    <div class="job-location">
                      <span><i class="fa-solid fa-location-dot"></i></span>
                      <span><%= job.jobLocation %></span>
                    </div>
                    <div class="job-salary">
                      <span><i class="fa-solid fa-indian-rupee-sign"></i></span>
                      <span><%= job.salary %></span>
                    </div>
                    <div class="job-skills">
                      <% if(Array.isArray( job.skills)){ %>
                      <% job.skills.forEach((skill)=>{ %>
                        <div class="skills"><button type="button" class="btn btn-outline-warning"><%= skill %></button></div>
                      <% })} else{ %>
                        <div class="skills"><button type="button" class="btn btn-outline-warning"><%= job.skills %></button></div>
                      <% } %>
                    </div>
                    <a href="viewDetails/<%= job.id %>">
                      <button type="button" class="btn btn-success view-details-button">View Details</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
      
    <script src="/script/index.js"></script>
</body>
</html>